.wrapper {
  transition: 0.2s;
  cursor: pointer;
  flex-wrap: nowrap;

  gap: var(--size-4);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-2);
  padding: var(--size-6);
  background-color: var(--surface-2);
  font-size: var(--font-size-fluid-1);
  font-weight: var(--font-weight-9);
  opacity: 0;
  animation: var(--animation-slide-in-down), var(--animation-fade-in) forwards;
  animation-delay: calc(var(--_delay) * 25ms);
  animation-timing-function: var(--ease-squish-1);
}

.wrapper:hover {
  box-shadow: var(--shadow-3);
}