.buttonWrapper {
  display: grid;
  gap: var(--size-4);
}

.buttonWrapper > button {
  font-weight: var(--font-weight-4);
}

.lyrics {
  padding: var(--size-4) 0;
  margin: 0;
}

.lyrics > li {
  list-style: none;
  text-align: left;
  font-size: var(--font-size-fluid-2);
  font-weight: var(--font-weight-7);
  line-height: 1.125;
  margin-bottom: 2rem;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--size-4);
}

.circle {
  width: var(--size-3);
  height: var(--size-3);
  background: var(--green-6);
  border-radius: 50%;
}

.circleWrapper {
  display: flex;
  gap: var(--size-2);
}

.next {
  width: 100%;
  margin-bottom: 2rem;
  font-size: var(--font-size-fluid-2);
  background-image: var(--gradient-19);
  color: black;
}

.nextQuestion {
  width: 100%;
    margin-bottom: 2rem;
    font-size: var(--font-size-fluid-2);
    background-color: var(--blue-6);
}

.visible {
  opacity: 1;
  animation: var(--animation-slide-in-down), var(--animation-fade-in) forwards;
  animation-timing-function: var(--ease-squish-1);
}

.hidden {
  opacity: 0;
}

.option {
  animation: var(--animation-fade-in), var(--animation-fade-in) forwards;
}

.correct {
  outline: 2px solid var(--green-7);
}

.incorrect {
  /* outline: 2px solid var(--red-6); */
}

.loader {
  width: 8px;
  height: 8px;
  margin: 40px auto;
  opacity: 0.5;
  border-radius: 50%;
  box-shadow:
    0 -14px 0 rgba(255, 255, 255, 0.8),
    10px -10px 0 rgba(255, 255, 255, 0.7),
    14px 0px 1px rgba(255, 255, 255, 0.6),
    10px 10px 1px rgba(255, 255, 255, 0.5),
    0px 14px 2px rgba(255, 255, 255, 0.4),
    -10px 10px 2px rgba(255, 255, 255, 0.3),
    -14px 0px 3px rgba(255, 255, 255, 0.2),
    -10px -10px 3px rgba(255, 255, 255, 0.1);
  transform-origin: 50%;
  animation: load 0.5s steps(8, end) infinite;
}

@keyframes load {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  .buttonWrapper {
    grid-template-columns: 1fr 1fr;
  }
}