.main {
  padding-top: var(--size-10)
}

.bestSellers {
  display: grid;
  gap: 1rem;
  padding: var(--size-4) 0;
}

@media (min-width: 768px) {
  .bestSellers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--size-4);
  }
}

.input {
  width: var(--size-fluid-9);
  margin-bottom: var(--size-2);
}

.searchbar {
  padding: var(--size-4) 0;
}

.heroCopy {
  font-size: var(--font-size-fluid-3);
}

.secondaryCopy {
  font-size: var(--font-size-fluid-2);
}

.searchResults {
  display: grid;
  gap: var(--size-4);
}

.searchResults > * {
  background-color: var(--surface-2);
  padding: var(--size-3);
  border-radius: var(--radius-2);
}