.main {
  padding-top: var(--size-10)
}

.bestSellers {
  display: grid;
  gap: 1rem;
  padding: var(--size-4) 0;
}

.artistWrapper {
  margin: 0;
  line-height: 0;
}

@media (min-width: 768px) {
  .bestSellers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--size-4);
  }
}

.input {
  width: var(--size-fluid-9);
  margin-bottom: var(--size-2);
}

.searchbar {
  padding: var(--size-4) 0;
}

.heroCopy {
  font-size: var(--font-size-fluid-3);
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: var(--gradient-14);
  object-fit: cover; */
}

.secondaryCopy {
  font-size: var(--font-size-fluid-2);
}

.searchResults {
  display: grid;
  gap: var(--size-4);
}

.searchResults > * {
  background-color: var(--surface-2);
  padding: var(--size-3);
  border-radius: var(--radius-2);
}

.searchResult {
  opacity: 0;
    animation: var(--animation-slide-in-down), var(--animation-fade-in) forwards;
    animation-delay: calc(var(--_delay) * 25ms);
    animation-timing-function: var(--ease-squish-1);
}

.loader {
  width: 8px;
  height: 8px;
  margin: 40px auto;
  opacity: 0.5;
  border-radius: 50%;
  box-shadow:
    0 -14px 0 rgba(255, 255, 255, 0.8),
    10px -10px 0 rgba(255, 255, 255, 0.7),
    14px 0px 1px rgba(255, 255, 255, 0.6),
    10px 10px 1px rgba(255, 255, 255, 0.5),
    0px 14px 2px rgba(255, 255, 255, 0.4),
    -10px 10px 2px rgba(255, 255, 255, 0.3),
    -14px 0px 3px rgba(255, 255, 255, 0.2),
    -10px -10px 3px rgba(255, 255, 255, 0.1);
  transform-origin: 50%;
  animation: load 0.5s steps(8, end) infinite;
}

@keyframes load {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}